main section.products-index,
main section.categories-show {
  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .product {
      // flex:      1;
      max-width: 260px;
      // so that footer within can be positioned absolutely
      position: relative;

      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 15px;
      padding-bottom: 80px;
      margin-top: 20px;
      // margin:        10px;

      header img {
        max-width: 100%;
        max-height: 140px;
        margin: auto;
        display: block;
      }
      .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          width: 260px;
          border-radius: 4px;
          text-align: center;
          height: 40px;
        }
        .div-1 {
          width: 260px;
        }
        .div-2 {
          display: flex;
          flex-direction: column;
        }
      }
      .all-reviews {
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        margin-right: 20%;
      }

      .rating {
        font-weight: bold;
      }

      footer {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #eee;
        padding: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100%;
        opacity: 0.3;
        transition: all 0.3s;
      }

      aside {
        position: absolute;
        top: 0;

        padding: 10px;
        font-size: 0.8em;
      }

      aside.sold-out {
        left: 0;
        background-color: lightcoral;
        color: white;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 20px;
      }
      aside.price {
        right: 0;
        background-color: #eee;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 20px;
      }

      &:hover {
        border-color: #999;

        footer {
          opacity: 1;
        }
      }
    }
  }
}

.review-text {
  height: 100px;
  width: 100%;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  .actions {
  }
  h2 {
    width: 220px;
    border-radius: 4px;
    text-align: center;
    height: 40px;
  }
}

main section.products-show {
  .product-detail {
    img.main-img {
      max-width: 100%;
    }
  }
}
